@use './breakpoint' as *;

html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  font-size: 16px;
  line-height: 1.666;
	font-family: 'Inter', Sans-Serif, serif;
  color: #1A232C;
}

body.inter-loaded {
  font-family: 'Inter', Sans-Serif, serif;
}

.section {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md){
    padding-left: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0;
	  margin: 0 auto !important;
	  max-width: 718px;
	}
  
	@include media-breakpoint-up(lg) {
	  max-width: 936px;
	}
  
	@include media-breakpoint-up(xl) {
	  max-width: 1024px;
	}
  
	@include media-breakpoint-up(xxl) {
	  max-width: 1140px;
	}
}

.basic-title{
  @include media-breakpoint-up(md){
    font-size: 24px;
  }
}

.section-container {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  @include media-breakpoint-up(md){
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.section {

  margin-bottom: 10px;

  @include media-breakpoint-up(md){
    margin-bottom: 0px;
  }
}
